/* styles.css */
html {
  font-size: 16px; /* Base font size, 1rem = 16px */
}

body {
  background-color: #f8f9fa;
  color: #3e3e3e;
  font-family: Arial, sans-serif;
  font-size: 1rem; /* 16px */
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
}

.main-header {
  font-size: 3.5rem; /* 3.5 * 16px = 56px */
  font-weight: bold;
  color: #000000;
  margin: 2rem 0; /* 32px top and bottom */
}

.sub-header {
  font-size: 2.5rem; /* 1.5 * 16px = 24px */
  color: #3e3e3e;
  margin: 1rem 0; /* 16px top and bottom */
}

.sub-header-text {
  font-size: 1.5rem; /* 16px */
  color: #3e3e3e;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: #e07a5f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
